<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" id="addProductLink" aria-current="page" href="/admin/add-product">Add Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="shopLink" href="/">Shop</a>
    </li>
  </ul>